In [67]:
import sqlite3
import pandas as pd
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 40)



df_games = pd.read_csv("df_game_new.csv")
df_teams = pd.read_csv("df_teams_new.csv")
df_appearances = pd.read_csv("df_appearances_new.csv")
df_players = pd.read_csv("df_players_new.csv")

In [68]:
df_games.isna().sum()
df_appearances=df_appearances.dropna(axis=0)
df_teams["total_market_value"] = df_teams["total_market_value"].fillna(
    df_teams["total_market_value"].median()
)
df_teams["average_age"] = df_teams["average_age"].fillna(
    df_teams["average_age"].median()
)
df_teams["foreigners_percentage"] = df_teams["foreigners_percentage"].fillna(
    df_teams["foreigners_percentage"].median()
)


df_players["sub_position"] = df_players["sub_position"].fillna(
    df_players["sub_position"].value_counts().index[0]
)
df_players["foot"] = df_players["foot"].fillna(
    df_players["foot"].value_counts().index[0]
)

df_players["market_value_in_gbp"] = df_players["market_value_in_gbp"].fillna(
    df_players["market_value_in_gbp"].median()
)

df_players["highest_market_value_in_gbp"] = df_players["highest_market_value_in_gbp"].fillna(
    df_players["highest_market_value_in_gbp"].median()
)

df_players['date_of_birth'].fillna(value=pd.to_datetime('1/1/1985'), inplace=True)

df_teams.rename(columns={'name_x':'name'},inplace=True)
df_teams.drop(columns=['name_y','url'],inplace=True)



df_players=df_players.dropna(axis=0)

In [69]:
df_games.to_csv('df_game_new.csv',index=False)
df_appearances.to_csv('df_appearances_new.csv',index=False)
df_teams.to_csv('df_teams_new.csv',index=False)
df_players.to_csv('df_players_new.csv',index=False)

In [70]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1853 entries, 2 to 5022
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   playerID                     1853 non-null   int64
 1   playerID_df2                 1853 non-null   float64
 2   name                         1853 non-null   object
 3   player_id                    1853 non-null   int64
 4   pretty_name                  1853 non-null   object
 5   club_id                      1853 non-null   int64
 6   club_pretty_name             1853 non-null   object
 7   current_club_id              1853 non-null   int64
 8   country_of_citizenship       1853 non-null   object
 9   country_of_birth             1853 non-null   object
 10  date_of_birth                1853 non-null   object
 11  position                     1853 non-null   object
 12  sub_position                 1853 non-null   object
 13  foot                         1853 non-null   object
 14  height_in_cm                 1853 non-null   int64
 15  market_value_in_gbp          1853 non-null   float64
 16  highest_market_value_in_gbp  1853 non-null   float64
 17  agent_name                   1853 non-null   object
 18  contract_expiration_date     1853 non-null   object
 19  domestic_competition_id      1853 non-null   object
 20  club_name                    1853 non-null   object
 21  image_url                    1853 non-null   object
 22  last_season                  1853 non-null   int64
 23  url                          1853 non-null   object
dtypes: float64(3), int64(6), object(15)
memory usage: 361.9+ KB