In [6]:
import sqlite3
import pandas as pd
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 40)



df_games = pd.read_csv("df_game_new.csv")
df_teams = pd.read_csv("df_teams_new.csv")
df_appearances = pd.read_csv("df_appearances_new.csv")
df_players = pd.read_csv("df_players_new.csv")

In [7]:
df_games.isna().sum()
df_appearances=df_appearances.dropna(axis=0)
df_teams["total_market_value"] = df_teams["total_market_value"].fillna(
    df_teams["total_market_value"].median()
)
df_teams["average_age"] = df_teams["average_age"].fillna(
    df_teams["average_age"].median()
)
df_teams["foreigners_percentage"] = df_teams["foreigners_percentage"].fillna(
    df_teams["foreigners_percentage"].median()
)


df_players["sub_position"] = df_players["sub_position"].fillna(
    df_players["sub_position"].value_counts().index[0]
)
df_players["foot"] = df_players["foot"].fillna(
    df_players["foot"].value_counts().index[0]
)

df_players["market_value_in_gbp"] = df_players["market_value_in_gbp"].fillna(
    df_players["market_value_in_gbp"].median()
)

df_players["highest_market_value_in_gbp"] = df_players["highest_market_value_in_gbp"].fillna(
    df_players["highest_market_value_in_gbp"].median()
)

df_players['date_of_birth'].fillna(value=pd.to_datetime('1/1/1985'), inplace=True)

df_teams.rename(columns={'name_x':'name'},inplace=True)
df_teams.drop(columns=['name_y','url'],inplace=True)

In [8]:
df_games.to_csv('df_game_new.csv',index=False)
df_appearances.to_csv('df_appearances_new.csv',index=False)
df_teams.to_csv('df_teams_new.csv',index=False)
df_players.to_csv('df_players_new.csv',index=False)

In [9]:
df_players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5669 entries, 0 to 5668
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   playerID                     5669 non-null   int64
 1   playerID_df2                 5669 non-null   float64
 2   name                         5669 non-null   object
 3   playerID_df2_x               5669 non-null   float64
 4   playerID_df2_y               5669 non-null   float64
 5   player_id                    5669 non-null   int64
 6   pretty_name                  5669 non-null   object
 7   club_id                      5669 non-null   int64
 8   club_pretty_name             5669 non-null   object
 9   current_club_id              5669 non-null   int64
 10  country_of_citizenship       5669 non-null   object
 11  country_of_birth             5656 non-null   object
 12  date_of_birth                5669 non-null   object
 13  position                     5669 non-null   object
 14  sub_position                 5669 non-null   object
 15  foot                         5669 non-null   object
 16  height_in_cm                 5669 non-null   int64
 17  market_value_in_gbp          5669 non-null   float64
 18  highest_market_value_in_gbp  5669 non-null   float64
 19  agent_name                   4434 non-null   object
 20  contract_expiration_date     4288 non-null   object
 21  domestic_competition_id      5669 non-null   object
 22  club_name                    5669 non-null   object
 23  image_url                    2739 non-null   object
 24  last_season                  5669 non-null   int64
 25  url                          5669 non-null   object
dtypes: float64(5), int64(6), object(15)
memory usage: 1.1+ MB